@using BookService.Lib.DTO
@model  List<BookBasic>


    <h1>Boeken</h1>

    <div class="row">
        <div class="col-4">
            <ul class="list-group">
                @foreach (var book in Model)
                {
                    <li class="list-group-item @(book.Title.Contains("C#") || book.Title.Contains(".Net") ? "list-group-item-success" : "")">
                        <a asp-area="" asp-controller="Books" asp-action="Detail" asp-route-id="@book.Id">
                            @book.Title
                        </a> <em>(@book.Id)</em>
                    </li>
                }
            </ul>
        </div>
    </div>
